// Primary
$mat-soft-primary: (
  50 : #efe1ea,
  100 : #d7b4cb,
  200 : #bd82a9,
  300 : #a25087,
  400 : #8e2b6d,
  500 : #7a0553,
  600 : #72044c,
  700 : #670442,
  800 : #5d0339,
  900 : #4a0129,
  A100 : #ff7eba,
  A200 : #ff4b9f,
  A400 : #ff1883,
  A700 : #fd0076,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);



// Accent
$mat-soft-accent: (
  50 : #e1e3e7,
  100 : #b5bac3,
  200 : #838c9c,
  300 : #515e74,
  400 : #2c3c56,
  500 : #071938,
  600 : #061632,
  700 : #05122b,
  800 : #040e24,
  900 : #020817,
  A100 : #5773ff,
  A200 : #2448ff,
  A400 : #0028f0,
  A700 : #0024d6,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);

// Warn
$mat-soft-warn: (
  50 : #ffebe7,
  100 : #ffcdc2,
  200 : #ffab99,
  300 : #ff8970,
  400 : #ff7052,
  500 : #ff5733,
  600 : #ff4f2e,
  700 : #ff4627,
  800 : #ff3c20,
  900 : #ff2c14,
  A100 : #ffffff,
  A200 : #fffbfb,
  A400 : #ffccc8,
  A700 : #ffb4ae,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);
