@import'../theme/variables';
.container{
    display: block;
    width: 95%!important;
    margin: auto;
}
@media(min-width:960px) and (max-width:1440px){
    .container{
      width: 88%!important;
    }
  }

/*** contact-menu-area ***/
.contact-menu-area{
    display: block;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    margin: 160px 0px 30px 0px;
}
.menu{
    display: block;
}
.menu ul{
    list-style: none;
    padding: 0px;
    margin: 0px;
}
.menu ul li{
    display: inline-block;
    margin-right: 6px;
}
.menu ul li:last-child{
    margin: 0px;
}
.menu ul li a{
    display: block;
    color: #4a4a4a;
    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    transition: all 0.3s linear;
}
.menu ul li a i{
    display: inline-block;
    margin-left: 5px;
    font-size: 12px;
    font-weight: 600;
    transition: all 0.3s linear;
}
.menu ul li a:hover{
    color: $color-primary;
}

/*** section-1 ***/
.section-1{
    display: block;
    margin-bottom: 30px;
}
.section1-title{
    display: block;
    margin-bottom: 20px;
}
.section1-title h2{
    font-weight: 600;
    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-size: 20px;
    display: block;
    line-height: 30px;
    color: #454545;
}
.section1-description{
    display: block;
}
.section1-description p{
    color: #6a6a6a;
    font-size: 12pt;
    font-family: Poppins;
    line-height: 20px;
    font-weight: 400;
    font-style: normal;
    text-align: justify;
    display: block;
    margin-bottom: 15px;
    line-height: 24px;
}
.section1-description p a{
    display: inline-block;
    color:$color-primary;
    font-weight: 600;
    font-family: 'Poppins',sans-serif;
    font-style: normal;
}

/*** contact-form-area ***/
.contact-form-area{
    display: block;
    width: 100%;
    height: auto;
    box-sizing: border-box;
}
.contact-form-main{
    display: block;
    max-width: 850px;
    width: 100%;
    margin: auto;
}

.mb{
    margin-bottom: 10px!important;
}
.contact-form-main form{
    display: block;
    width: 100%;
    height: auto;
    padding-bottom: 30px;
}
.contact-form-main form mat-form-field{
    display: block;
    width: 100%;
    padding-bottom: 5px;
    
}
.contact-form-main mat-error{
    margin-top: 18px;
}
.contact-form-main form mat-form-field mat-label{
    color: #6a6a6a;
    font-weight: 500;
    font-family: 'Poppins',sans-serif;
    font-size: 14px;
}
.contact-form-main form mat-form-field mat-label span{
    color: $color-primary;
}
::ng-deep.contact-form-main form .mat-form-field-appearance-outline .mat-form-field-wrapper{
    margin-bottom: 20px;
    padding: 0px;
}
.submit-btn{
    display: block;
    margin-top: 30px;
}
.submit-btn button{
    text-transform: uppercase;
    color: #fff;
    background-color: $color-primary;
    font-family: 'Poppins',sans-serif;
    font-style: normal;
    display: block;
    max-width: 130px;
    font-size: 15px;
    width: 100%;
    height: 45px;
    border-radius: 0px;
}
.contact-form-bottom{
    display: block;
    text-align: center;
    margin-top: 20px;
    padding-bottom: 60px;
    box-sizing: border-box;
}
.contact-form-bottom a,.contact-form-bottom p{
    color: #6a6a6a;
    font-size: 13pt;
    font-family: Poppins;
    line-height: 20px;
    font-weight: 400;
    font-style: normal;
    display: block;
    margin-bottom: 20px;
    line-height: 24px;

}
.contact-form-bottom a{
    margin-bottom: 25px;
    transition: all 0.3s linear;
}
.contact-form-bottom a:hover{
    color: $color-primary;
}
.contact-form-bottom h4{
    font-weight: 600;
    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-size: 17px;
    display: block;
    line-height: 26px;
    color: #454545;
    width: 95%;
    margin: auto;
}